@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 16px;
}

.middle {
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
}

section:not(.bottom-section, .main-container) {
    overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Custom Selectors */

$brandColor: #26345b;
$textColor: #939598;
$sectionColor: #fff8e8;
$secendColor: #eabe56;

.menu {
	position: relative;
	display:  inline-block;
	width: 30px;
	height: 30px;
    margin: 25px;
    display: none;
}
.menu span {
	margin: 0 auto;
	position: relative;
	top: 12px;
}
.menu span:before, .menu span:after {
	position: absolute;
	content: '';
}
.menu span, .menu span:before, .menu span:after {
	width: 30px;
	height: 6px;
	background-color: #000;
	display: block;
}
.menu span:before {
	margin-top: -12px;
}
.menu span:after {
	margin-top: 12px;
}

/* example 5 */
.menu span {
	-webkit-transition-duration: 0s; transition-duration: 0s;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.menu.active span {
	background-color: rgba(0,0,0,0.0);
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.menu span:before {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.menu.active span:before {
	margin-top: 0;
	-webkit-transform: rotate(45deg); transform: rotate(45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
.menu span:after {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.menu.active span:after {
	margin-top: 0;
	-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}

/* Page Title */

.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2,h3,h4,h5 {
        font-size: 3rem;
        color: $brandColor;
        line-height: 3.75rem;
        text-transform: uppercase;
        font-weight: 900;
    }
    span {
        font-size: 1.5rem;
        color: $textColor;
        font-weight: 400;
    }
}

/* Header */

#main-header {
    height: 6rem;
    width: 100%;
    background-color: white;
    .middle {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo-container {
            img {
                height: 3.75rem;
            }
        }
        .header-info {
            display: flex;
            align-items: center;
            li {
                a {
                    color: $brandColor;
                    font-size: 1.75rem;
                    font-weight: 900;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        height: 1.875rem;
                        margin-right: 0.75rem;
                    }
                }
                &:first-child {
                    margin-right: 2.8125rem;
                }
            }
        }
    }
}

/* Main Container */

.main-container {
    background-color: $brandColor;
    width: 100%;
    height: calc(100vh - 6rem);
    position: relative;
    .middle {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        &.popup {
            justify-content: center;
            align-items: flex-start;
            & > h1 {
                font-size: 4.5rem;
                line-height: 5.25rem;
                color: white;
                font-weight: 900;
                max-width: 43.75rem;
            }
            & > p {
                margin: 1.5625rem 0 3.4375rem;
                font-size: 1.5rem;
                font-weight: 400;
                color: white;
                max-width: 43.75rem;
            }
            & > a {
                margin-top: 1.5rem;
                border-radius: 0.25rem;
                background-color: $secendColor;
                font-size: 1.375rem;
                font-weight: 500;
                color: white;
                cursor: pointer;
                transition: all ease .3s;
                width: 16.875rem;
                height: 4.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .contact-form {
        padding: 2.1875rem 0;
        background-color: white;
        box-shadow: 0px 0px 80px 0px rgba(0,0,0,0.08);
        max-width: 36.25rem;
        margin-bottom: -4.25rem;
        h1 {
            margin: 0 auto 1.875rem;
            font-size: 2.625rem;
            line-height: 3.25rem;
            color: $brandColor;
            text-align: center;
            max-width: 25.625rem;
        }
        form {
            padding: 0 1.1875rem;
            display: flex;
            flex-direction: column;
            .col {
                display: grid;
                grid-gap: 0.8125rem;
                grid-template-columns: auto auto;
            }
            input {
                border: 1px solid #E1E1E1;
                height: 4.5rem;
                padding: 0 1.5625rem;
                outline: none;
                border-radius: 0.25rem;
                color: black;
                margin-bottom: 1.125rem;
                font-weight: 400;
                &::placeholder {
                    color: #939598;
                    font-weight: 400;
                }
                &[type="submit"] {
                    margin-top: 1.5rem;
                    border-radius: 0.25rem;
                    background-color: $secendColor;
                    font-size: 1.375rem;
                    font-weight: 500;
                    color: white;
                    cursor: pointer;
                    transition: all ease .3s;
                    &:hover {
                        background-color: $brandColor;
                    }
                }
            }
            textarea {
                border: 1px solid #E1E1E1;
                height: 9.0625rem;
                padding: 1.4375rem 1.5625rem 0;
                outline: none;
                border-radius: 0.25rem;
                color: black;
                font-weight: 400;
                font-family: 'Roboto';
                &::placeholder {
                    font-weight: 400;
                    color: #939598;
                }
            }
        }
    }
    .decor {
        position: absolute;
        bottom: 0;
        left: 0;
        img {
            filter: grayscale(1);
            max-height: 33.125rem;
        }
    }
    .main-image {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        img {
            height: 100%;
        }
    }
    .middle {
        position: relative;
    }
}

.popup-container {
    .main-image {
        width: 50%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

/* Our Vision */

.our-vision {
    margin: 8.75rem 0 4.25rem;
    .middle {
        .text-container {
            display: grid;
            margin-top: 2.5rem;
            grid-gap: 5.25rem;
            grid-template-columns: repeat(2, 1fr);
            div {
                &:first-child {
                    p {
                        font-size: 1.5rem;
                        color: $brandColor;
                        font-weight: 500;
                        max-width: 25rem;
                        margin-left: auto;
                    }
                }
                &:last-child {
                    p {
                        color: $textColor;
                        font-weight: 400;
                        font-size: 1.125rem;
                        max-width: 36.875rem;
                        margin-right: auto;
                        &:first-child {
                            margin-bottom: 1.875rem;
                        }
                    }
                }   
            }
        }
    }
}

/* Focus Area */

.focus-area {
    background-color: $sectionColor;
    padding: 90px 0 118px;
    .middle {
        .focus-grids {
            margin-top: 2.8125rem;
            display: flex;
            justify-content: space-between;
            .grid-col {
                padding: 0 1.25rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 16.25rem;
                width: 15rem;
                background-color: white;
                transition: all ease .3s;
                & > div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                img {
                    margin-bottom: 2.5rem;
                    max-height: 5.625rem;
                }
                span {
                    font-size: 1.625rem;
                    line-height: 2rem;
                    text-align: center;
                    color: $brandColor;
                    font-weight: 900;
                }
                &:hover {
                    background-color: $brandColor;
                    span {
                        color: white;
                    }
                }
            }
        }
    }
}

/* Why Partner */

.why-partner {
    padding-top: 8.125rem;
    .why-partner-container {
        margin-top: 45px;
        background-image: url('/assets/images/home/education.png');
        background-size: cover;
        background-position: center;
        height: 67.1875rem;
        width: 100%;
        position: relative;
        .accordion {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(234,190,86,0.94);
            width: 45rem;
            ul {
                display: flex;
                flex-direction: column;
                padding: 5rem 3.75rem;
                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    font-size: 1.875rem;
                    line-height: 2.375rem;
                    color: white;
                    font-weight: 500;
                    padding: 1.75rem 0;
                    border-bottom: 1px solid #7AACCF;
                    cursor: pointer;
                    flex-direction: column;
                    & > p {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                    }
                    .text {
                        margin-top: 1.5rem;
                        display: none;
                        // transition: all ease .3s;
                        p {
                            font-weight: 400;
                            font-size: 1.25rem;
                            margin-bottom: 1.875rem;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                    &:first-child {
                        .text {
                            display: block;
                        }
                    }
                    &:last-child {
                        border-bottom: unset;
                    }
                    img {
                        height: 1.5rem;
                        padding-left: 2.5rem;
                    }
                }
            }
        }
    }
}

/* Our Portfolio */

.our-portfolio {
    padding: 7.5rem 0 10rem;
    .middle {
        .portfolio-grid {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2.8125rem;
            .grid-col {
                display: flex;
                flex-direction: column;
                width: 21rem;
                box-shadow: 0px 12px 72px 0px rgba(0,0,0,0.1);
                & > img {
                    width: 100%;
                    object-fit: cover;
                    height: 21rem;
                }
                .logo-section {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    height: 11.5625rem;
                    & > img {
                        max-height: 7.5rem;
                    }
                }
            }
        }
    }
}

/* Bottom Section */

.bottom-section {
    background-color: $brandColor;
    display: flex;
    height: 30rem;
    align-items: center;
    & > div {
        flex-grow: 1;
        width: 50%;
    }
    .img-space {
        img {
            filter: grayscale(100%);
            width: 100%;
        }
    }
    .text-space {
        position: relative;
        margin-left: 3.4375rem;
        h6 {
            font-size: 3rem;
            line-height: 3.625rem;
            color: white;
            font-weight: 900;
            margin-bottom: 1.5625rem;
            padding-right: 8.75rem;
            span {
                color: $secendColor;
            }
        }
        p {
            margin-bottom: 2.1875rem;
            color: white;
            line-height: 1.75rem;
            font-size: 1.125rem;
            font-weight: 400;
            padding-right: 8.75rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .decor {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            img {
                height: 21.875rem;
                filter: grayscale(0);
            }
        }
    }
}

/* Footer */

#main-footer {
    .middle {
        position: relative;
        .footer-nav {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 5rem 0;
            .footer-logo {
                img {
                    height: 4.5rem;
                }
            }
            .footer-menu {
                display: flex;
                flex-direction: column;
            }
            li {
                margin-bottom: 0.9375rem;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    display: flex;
                    align-items: center;
                    font-size: 1.125rem;
                    font-weight: 400;
                    color: $brandColor;
                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                        object-fit: contain;
                        margin-right: 0.75rem;
                    }
                }
            }
        }
        .copyright {
            position: absolute;
            bottom: 50px;
            p {
                font-size: 1.125rem;
                color: $brandColor;
                font-weight: 500;
                span {
                    color: $secendColor;
                    font-weight: 900;
                }
            }
        }
    }
}

/* Style Media */

@media only screen and (max-width: 1440px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 11px;
    }    
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }
    .main-container .contact-form {
        max-width: 50.25rem;
        margin: 0 auto -4.25rem;
    }
}

@media only screen and (max-width: 480px) {
    .middle {
        width: 100%;
        padding: 0 20px;
        max-width: unset;
    }
    .popup-container .main-image {
        width: 100%;
    }
    .main-container .contact-form {
        margin: 0;
    }
    .page-title {
        padding: 0 20px;
    }
    .page-title h2, .page-title h3, .page-title h4, .page-title h5 {
        font-size: 2rem;
        text-align: center;
        line-height: unset;
        padding: 10px 0;
        img {
            height: 40px;
        }
    }
    .page-title span {
        text-align: center;
    }
    .why-partner .why-partner-container .accordion {
        width: 100%;
    }
    .focus-area .middle .focus-grids .grid-col {
        width: auto;
        span {
            font-size: 1.525rem;
        }
    }
    .focus-area .middle .focus-grids {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .our-portfolio .middle .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;   
    }
    .focus-area .middle .focus-grids .grid-col img {
        max-height: 4.425rem;
    }
    .bottom-section {
        height: auto;
        padding: 30px 0;
    }
    .our-vision .middle .text-container div:first-child p {
        max-width: 100%;
    }
    .bottom-section > div {
        width: auto;
        margin-left: 0 !important; 
        padding: 0 20px;
        h6, p{
            padding: unset !important;
        }
        &:first-child {
            display: none;
        }
    }
    .bottom-section .text-space .decor img {
        display: none;
    }
    .our-vision .middle .text-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2.95rem;
        & > div {
            & > p {
                margin: 0;
                width: 100%;
                margin-left: unset !important;
            }
        }
    }
    .main-container .contact-form form .col {
        grid-template-columns: auto;
    }
    .our-portfolio .middle .portfolio-grid .grid-col {
        width: 100%;
    }
    .why-partner .why-partner-container {
        height: auto;
        .accordion {
            position: unset;
        }
    }
    .main-container .decor {
        display: none;
    }
    #main-header .middle .header-info {
        background-color: white;
        position: absolute;
        top: 6rem;
        display: none;
        z-index: 999;
        width: 100%;
        left: 0;
        flex-direction: column;
        padding: 20px 0;
        border-top: 1px solid $brandColor;
        border-bottom: 1px solid $brandColor;
    }
    #main-header .middle .header-info li:first-child {
        margin-bottom: 1rem;
        margin-left: 0;
    }
    #main-header .middle .header-info li a {
        font-size: 1.15rem;
    }
    #main-header .middle .logo-container img {
        height: 3.05rem;
    }
    .main-container .decor img {
        width: 100%;
    }
    #main-footer .middle .footer-nav {
        flex-direction: column;
        padding: 3rem 0;
        .footer-logo {
            margin-bottom: 1rem;
        }
    }
    #main-footer .middle .copyright {
        position: unset;
        bottom: unset;
        margin-bottom: 3rem;
    }
    .menu {
        display: block;
    }
}


